<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="./src/output.css" rel="stylesheet">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>All of Trump's Twitter Insults</title>
  </head>

  <body>
    <div>
      <h1 class="text-center text-4xl font-serif">All of Trump's Twitter Insults</h1>
      <h2 class="text-center text-4xl font-serif">(2015-2021)</h2>
    </div>

    <div>
      <ul>

        {% if loggedin%}
        <li>
          <a href = "{{url_for('logout')}}"> Logout </a>
        </li>
        <li>
          <a href = "{{url_for('preferences')}}"> User Preferences </a>
        </li>
        <li>
          <a href = "{{url_for('interest')}}"> Interests </a>
        </li>

        {% else %}
        <li>
          <a href = "{{url_for('login')}}"> Login </a>
        </li>
        <li>
          <a href = "{{url_for('register')}}"> Register </a>
        </li>

        {% endif %}

        <li>
          <a href = "{{url_for('visual')}}"> Visualization </a>
        </li>

      </ul>
    </div>

    <div>
      {% for x in data[1:] %}
        <a>{{x[1]}} <br> Topic: {{x[2]}} <br> Insult: {{x[3]}} <br> {{x[4]}}</a>
        <br><br>
      {% endfor %}
    </div>
  </body>
</html>
