<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="./src/output.css" rel="stylesheet">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>All of Trump's Twitter Insults</title>
  </head>

  <body>
    <div>
      <h1 class="text-center text-4xl font-serif">All of Trump's Twitter Insults</h1>
      <h2 class="text-center text-4xl font-serif">(2015-2021)</h2>
    </div>

    <a href = "{{url_for('login')}}"> Login </a>
    <a href = "{{url_for('register')}}"> Register </a>
  </body>
</html>
