<!DOCTYPE html>
<html lang="en">
  <head>
      <script src="https://cdn.tailwindcss.com"></script>
      <link href="./src/output.css" rel="stylesheet">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>All of Trump's Twitter Insults</title>
  </head>

  <body class="font-serif">
    <nav class="p-4 bg-black text-white font-semibold">
      <ul class="flex text-lg">
        <li class="mr-6 hover:underline">
          <a href="{{ url_for('home') }}">Home</a>
        </li>
        {% if loggedin %}
        <li class="mr-6 hover:underline">
          <a href="{{ url_for('logout') }}">Logout</a>
        </li>
        <li class="mr-6 hover:underline">
          <a href="{{ url_for('preferences') }}">User Preferences</a>
        </li>
        {% else %}
        <li class="mr-6 hover:underline">
          <a href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="mr-6 hover:underline">
          <a href="{{ url_for('register') }}">Register</a>
        </li>
        {% endif %}

        <li class="mr-6 hover:underline">
          <a href="{{ url_for('visual') }}">Visualization</a>
        </li>
      </ul>
    </nav>

    <div class="py-10">
      <h1 class="text-center font-semibold text-4xl">All of Trump's Twitter Insults</h1>
      <h2 class="text-center font-semibold text-4xl">(2015-2021)</h2>
    </div>

    <div class="text-xl text-center">
      {% for x in data[1:] %}
        <a><b>{{ x[1] }} <br> {{ x[2].replace("-", " ").title() }} </b><br> Insult: {{ x[3] }} <br> {{ x[4] }}</a>
        <br><br>
      {% endfor %}
    </div>
  </body>
</html>

