<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="./src/output.css" rel="stylesheet">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
  </head>

    <body>
    
        <nav>
            <div>
                <h1>Trump's Insults</h1>
                <a href="{{url_for('home')}}">
                    <button href="{{url_for('home')}}">
                        <span>Homepage</span>
                    </button>
                </a>
            </div>
        </nav>
        
        <div>
            <h1>LOGIN</h1>
            <br>
            <form method = 'POST'>
                <input type="text" placeholder="Username" name="username"> <br>
                <input type="password" placeholder="Password" name="password"> <br>
                <button type="submit" name="input" value="loginbutton"> Login </button> <br>
            </form>
        </div>
        
        <div>
            <br>
            {{error}}
        </div>
  
    </body>
</html>
