<!DOCTYPE html>
<html lang="en">
  <head>
      <script src="https://cdn.tailwindcss.com"></script>
      <link href="./src/output.css" rel="stylesheet">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Data Visualization</title>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body class="font-serif">
    <nav class="p-4 bg-black text-white font-semibold">
        <ul class="flex text-lg">
          <li class="mr-6 hover:underline">
            <a href = "{{url_for('home')}}"> Home </a>
          </li>
          {% if loggedin%}
          <li class="mr-6 hover:underline">
            <a href = "{{url_for('logout')}}"> Logout </a>
          </li>
          <li class="mr-6 hover:underline">
            <a href = "{{url_for('preferences')}}"> User Preferences </a>
          </li>
          <li class="mr-6 hover:underline">
            <a href = "{{url_for('interest')}}"> Interests </a>
          </li>
  
          {% else %}
          <li class="mr-6 hover:underline">
            <a href = "{{url_for('login')}}"> Login </a>
          </li>
          <li class="mr-6 hover:underline">
            <a href = "{{url_for('register')}}"> Register </a>
          </li>
  
          {% endif %}
  
          <li class="mr-6 hover:underline">
            <a href = "{{url_for('visual')}}"> Visualization </a>
          </li>
  
        </ul>
      </nav>

    <div>
    <canvas id="insultsChart" width="400" height="200"></canvas>
    <script>
        // Example data
        const labels = ['Media', 'Politicians', 'Celebrities', 'Organizations', 'Others'] // Replace with topics/insult type;
        const data = {
            labels: labels,
            datasets: [{
                label: 'Frequency of Insults',
                data: [120, 95, 75, 50, 30], // Replace with actual data
                borderWidth: 1
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        const insultsChart = new Chart(
            document.getElementById('insultsChart'),
            config
        );
    </script>
    </div>
  </body>
</html>
